table, td{
    border: 1px solid #ffe030;
    border-collapse: collapse;
    text-align: center;
    width : 100px;
    height: 50px;
    background-color: #ffeac7;
}
th{
    border: 1px solid #F8EFBA;
    border-collapse: collapse;
    width : 20px;
    height: 50px;
}
th, td {
    padding: 20px;
}
th {
    text-align: center;
}
div{
    border: 1px solid #ffe030;
    padding: 20px;
    font-weight: bold;
    background-color: #ffeac7;
}
.color1{
    background-color: #f78fb3;
}
.color2{
    background-color:#9c88ff ;
}
.color3{
    background-color: #ea8685;
}
.color4{
    background-color: #f5cd79;
}
.color5{
    background-color: #218c74;
}
.hour{
    line-height: 0%;
    font-size: 16px; 
    vertical-align:text-top; 
    text-align: right;
    size: 15;
}
.font{
    font-weight: bold;
}
span{
    color: white;
}